<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Matrix: NVIDIA Device Plugin on Red Hat Device Edge (MicroShift)</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h2>Test Matrix: NVIDIA Device Plugin on Red Hat Device Edge (MicroShift)</h2>

  <a id="microshift"></a>
  <div class="ocp-version-container">
    <div class="ocp-version-header">
       <a href="https://docs.nvidia.com/datacenter/cloud-native/edge/latest/nvidia-gpu-with-device-edge.html">Procedure</a> -
       <a href="https://github.com/openshift/microshift/tree/main/scripts/ci-nvidia-device-plugin">Test scripts</a>
    </div>
    <table id="table-microshift-regular">
      <thead>
        <tr>
          <th>MicroShift</th>
          <th>Results</th>
        </tr>
      </thead>
      <tbody>
        {TABLE_ROWS}
      </tbody>
    </table>
  </div>
  <div class="last-updated">
    Last updated: {LAST_UPDATED}
  </div>
</body>

</html>
